<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>empty</key>
		<false/>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>小学好友-0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小学好友-1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小学好友-2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小学好友-3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小学好友-4</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小学好友-5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小学好友-6</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小学好友-7</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小学好友-8</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小学好友-9</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小学好友-10</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小学好友-11</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小学好友-12</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小学好友-13</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小学好友-14</string>
			</dict>
		</array>
		<key>name</key>
		<string>小学</string>
		<key>online</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>empty</key>
		<true/>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>通讯录好友-0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>通讯录好友-1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>通讯录好友-2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>通讯录好友-3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>通讯录好友-4</string>
			</dict>
			<dict>
				<key>name</key>
				<string>通讯录好友-5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>通讯录好友-6</string>
			</dict>
			<dict>
				<key>name</key>
				<string>通讯录好友-7</string>
			</dict>
			<dict>
				<key>name</key>
				<string>通讯录好友-8</string>
			</dict>
			<dict>
				<key>name</key>
				<string>通讯录好友-9</string>
			</dict>
		</array>
		<key>name</key>
		<string>通讯录好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
    <dict>
        <key>empty</key>
        <false/>
        <key>friends</key>
        <array>
            <dict>
                <key>name</key>
                <string>初中好友-0</string>
            </dict>
            <dict>
                <key>name</key>
                <string>初中好友-1</string>
            </dict>
            <dict>
                <key>name</key>
                <string>初中好友-2</string>
            </dict>
            <dict>
                <key>name</key>
                <string>初中好友-3</string>
            </dict>
            <dict>
                <key>name</key>
                <string>初中好友-4</string>
            </dict>
            <dict>
                <key>name</key>
                <string>初中好友-5</string>
            </dict>
            <dict>
                <key>name</key>
                <string>初中好友-6</string>
            </dict>
            <dict>
                <key>name</key>
                <string>初中好友-7</string>
            </dict>
            <dict>
                <key>name</key>
                <string>初中好友-8</string>
            </dict>
            <dict>
                <key>name</key>
                <string>初中好友-9</string>
            </dict>
            <dict>
                <key>name</key>
                <string>初中好友-10</string>
            </dict>
            <dict>
                <key>name</key>
                <string>初中好友-11</string>
            </dict>
            <dict>
                <key>name</key>
                <string>初中好友-12</string>
            </dict>
            <dict>
                <key>name</key>
                <string>初中好友-13</string>
            </dict>
            <dict>
                <key>name</key>
                <string>初中好友-14</string>
            </dict>
        </array>
        <key>name</key>
        <string>初中</string>
        <key>online</key>
        <integer>11</integer>
    </dict>
    <dict>
        <key>empty</key>
        <false/>
        <key>friends</key>
        <array>
            <dict>
                <key>name</key>
                <string>大学好友-0</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大学好友-1</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大学好友-2</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大学好友-3</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大学好友-4</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大学好友-5</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大学好友-6</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大学好友-7</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大学好友-8</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大学好友-9</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大学好友-10</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大学好友-11</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大学好友-12</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大学好友-13</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大学好友-14</string>
            </dict>
        </array>
        <key>name</key>
        <string>大学</string>
        <key>online</key>
        <integer>11</integer>
    </dict>
    <dict>
        <key>empty</key>
        <false/>
        <key>friends</key>
        <array>
            <dict>
                <key>name</key>
                <string>社交好友-0</string>
            </dict>
            <dict>
                <key>name</key>
                <string>社交好友-1</string>
            </dict>
            <dict>
                <key>name</key>
                <string>社交好友-2</string>
            </dict>
            <dict>
                <key>name</key>
                <string>社交好友-3</string>
            </dict>
            <dict>
                <key>name</key>
                <string>社交好友-4</string>
            </dict>
            <dict>
                <key>name</key>
                <string>社交好友-5</string>
            </dict>
            <dict>
                <key>name</key>
                <string>社交好友-6</string>
            </dict>
            <dict>
                <key>name</key>
                <string>社交好友-7</string>
            </dict>
            <dict>
                <key>name</key>
                <string>社交好友-8</string>
            </dict>
            <dict>
                <key>name</key>
                <string>社交好友-9</string>
            </dict>
            <dict>
                <key>name</key>
                <string>社交好友-10</string>
            </dict>
            <dict>
                <key>name</key>
                <string>社交好友-11</string>
            </dict>
            <dict>
                <key>name</key>
                <string>社交好友-12</string>
            </dict>
            <dict>
                <key>name</key>
                <string>社交好友-13</string>
            </dict>
            <dict>
                <key>name</key>
                <string>社交好友-14</string>
            </dict>
        </array>
        <key>name</key>
        <string>社交</string>
        <key>online</key>
        <integer>11</integer>
    </dict>
    <dict>
        <key>empty</key>
        <false/>
        <key>friends</key>
        <array>
            <dict>
                <key>name</key>
                <string>我的好友-0</string>
            </dict>
            <dict>
                <key>name</key>
                <string>我的好友-1</string>
            </dict>
            <dict>
                <key>name</key>
                <string>我的好友-2</string>
            </dict>
            <dict>
                <key>name</key>
                <string>我的好友-3</string>
            </dict>
            <dict>
                <key>name</key>
                <string>我的好友-4</string>
            </dict>
            <dict>
                <key>name</key>
                <string>我的好友-5</string>
            </dict>
            <dict>
                <key>name</key>
                <string>我的好友-6</string>
            </dict>
            <dict>
                <key>name</key>
                <string>我的好友-7</string>
            </dict>
            <dict>
                <key>name</key>
                <string>我的好友-8</string>
            </dict>
            <dict>
                <key>name</key>
                <string>我的好友-9</string>
            </dict>
            <dict>
                <key>name</key>
                <string>我的好友-10</string>
            </dict>
            <dict>
                <key>name</key>
                <string>我的好友-11</string>
            </dict>
            <dict>
                <key>name</key>
                <string>我的好友-12</string>
            </dict>
            <dict>
                <key>name</key>
                <string>我的好友-13</string>
            </dict>
            <dict>
                <key>name</key>
                <string>我的好友-14</string>
            </dict>
        </array>
        <key>name</key>
        <string>我的</string>
        <key>online</key>
        <integer>11</integer>
    </dict>
    <dict>
        <key>empty</key>
        <false/>
        <key>friends</key>
        <array>
            <dict>
                <key>name</key>
                <string>隔壁好友-0</string>
            </dict>
            <dict>
                <key>name</key>
                <string>隔壁好友-1</string>
            </dict>
            <dict>
                <key>name</key>
                <string>隔壁好友-2</string>
            </dict>
            <dict>
                <key>name</key>
                <string>隔壁好友-3</string>
            </dict>
            <dict>
                <key>name</key>
                <string>隔壁好友-4</string>
            </dict>
            <dict>
                <key>name</key>
                <string>隔壁好友-5</string>
            </dict>
            <dict>
                <key>name</key>
                <string>隔壁好友-6</string>
            </dict>
            <dict>
                <key>name</key>
                <string>隔壁好友-7</string>
            </dict>
            <dict>
                <key>name</key>
                <string>隔壁好友-8</string>
            </dict>
            <dict>
                <key>name</key>
                <string>隔壁好友-9</string>
            </dict>
            <dict>
                <key>name</key>
                <string>隔壁好友-10</string>
            </dict>
            <dict>
                <key>name</key>
                <string>隔壁好友-11</string>
            </dict>
            <dict>
                <key>name</key>
                <string>隔壁好友-12</string>
            </dict>
            <dict>
                <key>name</key>
                <string>隔壁好友-13</string>
            </dict>
            <dict>
                <key>name</key>
                <string>隔壁好友-14</string>
            </dict>
        </array>
        <key>name</key>
        <string>隔壁</string>
        <key>online</key>
        <integer>11</integer>
    </dict>
    <dict>
        <key>empty</key>
        <false/>
        <key>friends</key>
        <array>
            <dict>
                <key>name</key>
                <string>曾经的好友-0</string>
            </dict>
            <dict>
                <key>name</key>
                <string>曾经的好友-1</string>
            </dict>
            <dict>
                <key>name</key>
                <string>曾经的好友-2</string>
            </dict>
            <dict>
                <key>name</key>
                <string>曾经的好友-3</string>
            </dict>
            <dict>
                <key>name</key>
                <string>曾经的好友-4</string>
            </dict>
            <dict>
                <key>name</key>
                <string>曾经的好友-5</string>
            </dict>
            <dict>
                <key>name</key>
                <string>曾经的好友-6</string>
            </dict>
            <dict>
                <key>name</key>
                <string>曾经的好友-7</string>
            </dict>
            <dict>
                <key>name</key>
                <string>曾经的好友-8</string>
            </dict>
            <dict>
                <key>name</key>
                <string>曾经的好友-9</string>
            </dict>
            <dict>
                <key>name</key>
                <string>曾经的好友-10</string>
            </dict>
            <dict>
                <key>name</key>
                <string>曾经的好友-11</string>
            </dict>
            <dict>
                <key>name</key>
                <string>曾经的好友-12</string>
            </dict>
            <dict>
                <key>name</key>
                <string>曾经的好友-13</string>
            </dict>
            <dict>
                <key>name</key>
                <string>曾经的好友-14</string>
            </dict>
        </array>
        <key>name</key>
        <string>曾经的好友</string>
        <key>online</key>
        <integer>11</integer>
    </dict>
    <dict>
        <key>empty</key>
        <false/>
        <key>friends</key>
        <array>
            <dict>
                <key>name</key>
                <string>留学好友-0</string>
            </dict>
            <dict>
                <key>name</key>
                <string>留学好友-1</string>
            </dict>
            <dict>
                <key>name</key>
                <string>留学好友-2</string>
            </dict>
            <dict>
                <key>name</key>
                <string>留学好友-3</string>
            </dict>
            <dict>
                <key>name</key>
                <string>留学好友-4</string>
            </dict>
            <dict>
                <key>name</key>
                <string>留学好友-5</string>
            </dict>
            <dict>
                <key>name</key>
                <string>留学好友-6</string>
            </dict>
            <dict>
                <key>name</key>
                <string>留学好友-7</string>
            </dict>
            <dict>
                <key>name</key>
                <string>留学好友-8</string>
            </dict>
            <dict>
                <key>name</key>
                <string>留学好友-9</string>
            </dict>
            <dict>
                <key>name</key>
                <string>留学好友-10</string>
            </dict>
            <dict>
                <key>name</key>
                <string>留学好友-11</string>
            </dict>
            <dict>
                <key>name</key>
                <string>留学好友-12</string>
            </dict>
            <dict>
                <key>name</key>
                <string>留学好友-13</string>
            </dict>
            <dict>
                <key>name</key>
                <string>留学好友-14</string>
            </dict>
        </array>
        <key>name</key>
        <string>留学</string>
        <key>online</key>
        <integer>11</integer>
    </dict>
    <dict>
        <key>empty</key>
        <false/>
        <key>friends</key>
        <array>
            <dict>
                <key>name</key>
                <string>不认识的好友-0</string>
            </dict>
            <dict>
                <key>name</key>
                <string>不认识的好友-1</string>
            </dict>
            <dict>
                <key>name</key>
                <string>不认识的好友-2</string>
            </dict>
            <dict>
                <key>name</key>
                <string>不认识的好友-3</string>
            </dict>
            <dict>
                <key>name</key>
                <string>不认识的好友-4</string>
            </dict>
            <dict>
                <key>name</key>
                <string>不认识的好友-5</string>
            </dict>
            <dict>
                <key>name</key>
                <string>不认识的好友-6</string>
            </dict>
            <dict>
                <key>name</key>
                <string>不认识的好友-7</string>
            </dict>
            <dict>
                <key>name</key>
                <string>不认识的好友-8</string>
            </dict>
            <dict>
                <key>name</key>
                <string>不认识的好友-9</string>
            </dict>
            <dict>
                <key>name</key>
                <string>不认识的好友-10</string>
            </dict>
            <dict>
                <key>name</key>
                <string>不认识的好友-11</string>
            </dict>
            <dict>
                <key>name</key>
                <string>不认识的好友-12</string>
            </dict>
            <dict>
                <key>name</key>
                <string>不认识的好友-13</string>
            </dict>
            <dict>
                <key>name</key>
                <string>不认识的好友-14</string>
            </dict>
        </array>
        <key>name</key>
        <string>不认识的</string>
        <key>online</key>
        <integer>11</integer>
    </dict>
</array>
</plist>
